In [1]:
# import packages
import pandas as pd, numpy as np
import json
# import files
import data as dt

1. Replicar 100 bps? -> **10 Basis points: dejar como parametro del backtest**
2. Determinar origin vs destination exchange -> **Kraken es origin, Bitfinex es destination**
3. Como replicar los niveles del origin en el destination (volumen)
4. Validar el método para determinar maker/taker fee: iterativo vs estático
5. Orden de llenado por tiempo de entrada.
6. Evolución de Orderbooks tipo bootstrap.

In [4]:
# load data
ob_krak, ob_bit = dt.read_jsonOB(file_name = 'orderbooks_05jul21.json')

In [15]:
# return JSON object as dictionary
orderbooks_data = ob_data
ob_bit = orderbooks_data['bitfinex']  # select specific exchange

# drop None keys
ob_bit = {i_key: i_value for i_key, i_value in ob_bit.items() if i_value is not None}

# create Dataframe and rearange columns
ob_bit = {i_ob: pd.DataFrame(ob_bit[i_ob])[['bid_size','bid','ask','ask_size']]
           if ob_bit[i_ob] is not None else None for i_ob in list(ob_bit.keys())}


ob_krak = orderbooks_data['kraken']  # select specific exchange

# drop None keys
ob_krak = {i_key: i_value for i_key, i_value in ob_krak.items() if i_value is not None}

# create Dataframe and rearange columns
ob_krak = {i_ob: pd.DataFrame(ob_krak[i_ob])[['bid_size','bid','ask','ask_size']]
           if ob_krak[i_ob] is not None else None for i_ob in list(ob_krak.keys())}

KeyError: 'bitfinex'

# Alineacion de timestamps

In [5]:
list(ob_krak.keys())[0], list(ob_bit.keys())[0], list(ob_bit.keys())[1], list(ob_bit.keys())[2], list(ob_bit.keys())[3]

('2021-07-05T13:06:49.495Z',
 '2021-07-05T13:06:46.571Z',
 '2021-07-05T13:06:47.918Z',
 '2021-07-05T13:06:49.414Z',
 '2021-07-05T13:06:51.077Z')

In [6]:
# filtro  para que destination sea despues de origin
aux = sum(pd.to_datetime(pd.Series((ob_bit.keys()))) < pd.to_datetime(pd.Series(ob_krak.keys()))[0])
[ob_bit.pop(key) for key in list(ob_bit.keys())[:aux]];

# Origin exchange (Kraken)

In [7]:
# OB 1
df_krak = ob_krak[list(ob_krak.keys())[0]]
# midprice
mid_krak = (df_krak['bid'][0]+df_krak['ask'][0])/2
display(df_krak.head(3))
mid_krak

   bid_size      bid      ask  ask_size
0     0.880  28298.3  28298.4     3.352
1     0.350  28293.9  28300.0     0.020
2     0.377  28293.5  28305.4     0.074

28298.35

In [13]:
upper_krak = mid_krak*1.001
lower_krak = mid_krak*0.999
(lower_krak, upper_krak)

(28270.051649999998, 28326.648349999996)

In [14]:
bids_krak = df_krak[df_krak['bid']>lower_krak][['bid','bid_size']]
asks_krak = df_krak[df_krak['ask']<upper_krak][['ask','ask_size']]

In [15]:
[d.shape for d in [df_krak, bids_krak, asks_krak]]

[(100, 4), (30, 2), (23, 2)]

In [16]:
levels = pd.concat([bids_krak, asks_krak], axis=1)

In [73]:
levels

        bid  bid_size      ask  ask_size
0   28298.3     0.880  28298.4     3.352
1   28293.9     0.350  28300.0     0.020
2   28293.5     0.377  28305.4     0.074
3   28292.2     0.011  28305.5     0.123
4   28292.0     1.221  28307.3     0.204
5   28291.2     0.745  28308.2     0.005
6   28291.0     0.396  28310.0     0.004
7   28290.9     0.340  28311.8     0.745
8   28290.8     0.006  28314.9     0.250
9   28290.0     0.003  28315.2     5.000
10  28289.2     0.343  28315.8     0.992
11  28288.7     1.491  28316.0     0.994
12  28285.3     0.798  28316.4     0.377
13  28285.2     0.326  28316.8     0.093
14  28284.6     0.005  28317.0     1.729
15  28283.6     0.300  28317.9     1.490
16  28282.1     0.250  28320.0     0.560
17  28281.7     0.018  28320.9     0.300
18  28281.0     0.093  28321.8     1.500
19  28280.7     1.500  28322.1     0.010
20  28280.3     0.177  28322.3     0.989
21  28280.2     0.300  28322.7     1.089
22  28279.4     1.491  28325.2     0.063
23  28278.8     0.005      NaN       NaN
24  28276.7     0.800      NaN       NaN
25  28274.7     0.001      NaN       NaN
26  28274.3     1.732      NaN       NaN
27  28273.4     0.100      NaN       NaN
28  28272.6     1.490      NaN       NaN
29  28270.3     0.002      NaN       NaN

# Destination exchange (Bitfinex)

In [20]:
# OB 1
df_bit = ob_bit[list(ob_bit.keys())[0]]
# midprice
mid_bit = (df_bit['bid'][0]+df_bit['ask'][0])/2
display(df_bit.head(3))
mid_bit

    bid_size      bid      ask  ask_size
0  14.605659  28275.0  28278.0  0.011063
1   0.005124  28273.0  28279.0  0.006000
2   0.010158  28272.0  28280.0  0.100000

28276.5

# Añadir niveles a destination

### Bids

In [162]:
df_bit.head(3)

    bid_size      bid      ask  ask_size
0  14.605659  28275.0  28278.0  0.011063
1   0.005124  28273.0  28279.0  0.006000
2   0.010158  28272.0  28280.0  0.100000

In [163]:
# merge levels to create new OB
bids = df_bit[['bid_size','bid']].merge(levels[['bid_size','bid']], how='outer', on='bid'
                                       ).sort_values(by='bid', ascending=False, ignore_index=True)
bids.rename(columns={'bid_size_x':'bid_size','bid_size_y':'add_size'}, inplace=True)

In [164]:
# identify each order's fee structure
bids['fee_type'] = ['taker' if bid > df_bit['ask'][0] else 'maker' if pd.notna(add_size) else np.nan
                    for bid, add_size in zip(bids['bid'].values, bids['add_size'].values)]

bids.fillna(0, inplace=True)

In [166]:
# compute total volume in each OB level
bids['new_size'] = bids['bid_size'].values+bids['add_size'].values

In [171]:
df_bit[['ask','ask_size']].iloc[0,:]

ask         28278.000000
ask_size        0.011063
Name: 0, dtype: float64

In [172]:
df_bit.head(3)

    bid_size      bid      ask  ask_size
0  14.605659  28275.0  28278.0  0.011063
1   0.005124  28273.0  28279.0  0.006000
2   0.010158  28272.0  28280.0  0.100000

In [167]:
bids

     bid_size      bid  add_size fee_type   new_size
0    0.000000  28298.3     0.880    taker   0.880000
1    0.000000  28293.9     0.350    taker   0.350000
2    0.000000  28293.5     0.377    taker   0.377000
3    0.000000  28292.2     0.011    taker   0.011000
4    0.000000  28292.0     1.221    taker   1.221000
5    0.000000  28291.2     0.745    taker   0.745000
6    0.000000  28291.0     0.396    taker   0.396000
7    0.000000  28290.9     0.340    taker   0.340000
8    0.000000  28290.8     0.006    taker   0.006000
9    0.000000  28290.0     0.003    taker   0.003000
10   0.000000  28289.2     0.343    taker   0.343000
11   0.000000  28288.7     1.491    taker   1.491000
12   0.000000  28285.3     0.798    taker   0.798000
13   0.000000  28285.2     0.326    taker   0.326000
14   0.000000  28284.6     0.005    taker   0.005000
15   0.000000  28283.6     0.300    taker   0.300000
16   0.000000  28282.1     0.250    taker   0.250000
17   0.000000  28281.7     0.018    taker   0.018000
18   0.000000  28281.0     0.093    taker   0.093000
19   0.000000  28280.7     1.500    taker   1.500000
20   0.000000  28280.3     0.177    taker   0.177000
21   0.000000  28280.2     0.300    taker   0.300000
22   0.000000  28279.4     1.491    taker   1.491000
23   0.000000  28278.8     0.005    taker   0.005000
24   0.000000  28276.7     0.800    maker   0.800000
25  14.605659  28275.0     0.000        0  14.605659
26   0.000000  28274.7     0.001    maker   0.001000
27   0.000000  28274.3     1.732    maker   1.732000
28   0.000000  28273.4     0.100    maker   0.100000
29   0.005124  28273.0     0.000        0   0.005124
30   0.000000  28272.6     1.490    maker   1.490000
31   0.010158  28272.0     0.000        0   0.010158
32   0.000000  28270.3     0.002    maker   0.002000
33   0.003000  28268.0     0.000        0   0.003000
34   1.581528  28266.0     0.000        0   1.581528
35   2.000887  28265.0     0.000        0   2.000887
36   1.309362  28264.0     0.000        0   1.309362
37   0.133730  28263.0     0.000        0   0.133730
38   0.596041  28262.0     0.000        0   0.596041
39   0.188323  28260.0     0.000        0   0.188323
40   0.358209  28259.0     0.000        0   0.358209
41   1.051923  28258.0     0.000        0   1.051923
42   1.170556  28257.0     0.000        0   1.170556
43   0.608010  28256.0     0.000        0   0.608010
44   1.590167  28255.0     0.000        0   1.590167
45   0.521453  28254.0     0.000        0   0.521453
46   0.911672  28253.0     0.000        0   0.911672
47   1.489654  28252.0     0.000        0   1.489654
48   0.838510  28251.0     0.000        0   0.838510
49   0.538499  28250.0     0.000        0   0.538499
50   0.104014  28249.0     0.000        0   0.104014
51   0.398931  28248.0     0.000        0   0.398931
52   0.679222  28247.0     0.000        0   0.679222
53   0.247520  28245.0     0.000        0   0.247520
54   5.321163  28244.0     0.000        0   5.321163

In [92]:
df_bit.shape[0],levels.shape[0], test_bid.shape[0]

(25, 30, 55)

### Asks

In [68]:
df_bit.head(3)

    bid_size      bid      ask  ask_size
0  14.605659  28275.0  28278.0  0.011063
1   0.005124  28273.0  28279.0  0.006000
2   0.010158  28272.0  28280.0  0.100000

In [154]:
# merge levels to create new OB
asks = df_bit[['ask','ask_size']].merge(levels[['ask','ask_size']], how='outer', on='ask'
                                       ).sort_values(by='ask', ascending=True, ignore_index=True)

asks.rename(columns={'ask_size_x':'ask_size','ask_size_y':'add_size'}, inplace=True)

In [155]:
# identify each order's fee structure
asks['fee_type'] = ['taker' if ask < df_bit['bid'][0] else 'maker' if pd.notna(add_size) else np.nan
                    for ask, add_size in zip(asks['ask'].values, asks['add_size'].values)]

asks.fillna(0, inplace=True)

In [156]:
# compute total volume in each OB level
asks['new_size'] = asks['ask_size'].values+asks['add_size'].values

In [157]:
asks = asks[asks['new_size']!=0]

In [160]:
asks

        ask  ask_size  add_size fee_type  new_size
0   28278.0  0.011063     0.000        0  0.011063
1   28279.0  0.006000     0.000        0  0.006000
2   28280.0  0.100000     0.000        0  0.100000
3   28281.0  0.050000     0.000        0  0.050000
4   28282.0  0.323781     0.000        0  0.323781
5   28283.0  1.580312     0.000        0  1.580312
6   28284.0  0.353892     0.000        0  0.353892
7   28285.0  1.053899     0.000        0  1.053899
8   28286.0  0.950994     0.000        0  0.950994
9   28287.0  0.157200     0.000        0  0.157200
10  28288.0  0.897227     0.000        0  0.897227
11  28289.0  3.415934     0.000        0  3.415934
12  28290.0  1.595676     0.000        0  1.595676
13  28291.0  0.263632     0.000        0  0.263632
14  28292.0  4.135413     0.000        0  4.135413
15  28293.0  0.867221     0.000        0  0.867221
16  28294.0  2.935248     0.000        0  2.935248
17  28295.0  1.066304     0.000        0  1.066304
18  28296.0  5.424052     0.000        0  5.424052
19  28297.0  0.110386     0.000        0  0.110386
20  28298.0  2.192474     0.000        0  2.192474
21  28298.4  0.000000     3.352    maker  3.352000
22  28299.0  5.516191     0.000        0  5.516191
23  28300.0  0.802599     0.020    maker  0.822599
24  28301.0  0.203518     0.000        0  0.203518
25  28302.0  2.916168     0.000        0  2.916168
26  28305.4  0.000000     0.074    maker  0.074000
27  28305.5  0.000000     0.123    maker  0.123000
28  28307.3  0.000000     0.204    maker  0.204000
29  28308.2  0.000000     0.005    maker  0.005000
30  28310.0  0.000000     0.004    maker  0.004000
31  28311.8  0.000000     0.745    maker  0.745000
32  28314.9  0.000000     0.250    maker  0.250000
33  28315.2  0.000000     5.000    maker  5.000000
34  28315.8  0.000000     0.992    maker  0.992000
35  28316.0  0.000000     0.994    maker  0.994000
36  28316.4  0.000000     0.377    maker  0.377000
37  28316.8  0.000000     0.093    maker  0.093000
38  28317.0  0.000000     1.729    maker  1.729000
39  28317.9  0.000000     1.490    maker  1.490000
40  28320.0  0.000000     0.560    maker  0.560000
41  28320.9  0.000000     0.300    maker  0.300000
42  28321.8  0.000000     1.500    maker  1.500000
43  28322.1  0.000000     0.010    maker  0.010000
44  28322.3  0.000000     0.989    maker  0.989000
45  28322.7  0.000000     1.089    maker  1.089000
46  28325.2  0.000000     0.063    maker  0.063000

In [125]:
#asks['fee'] = [.0015*ask*vol if fee_type=='maker' else .0030*ask*vol if fee_type=='taker' else 0 
#            for ask,vol,fee_type in zip(asks['ask'], asks['add_size'] ,asks['fee_type'])]

<ipython-input-125-85243c79d14a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asks['fee'] = [.0015*ask*vol if fee_type=='maker' else .0030*ask*vol if fee_type=='taker' else 0

In [133]:
asks

    ask_size      ask  add_size fee_type  new_size
0   0.011063  28278.0     0.000        0  0.011063
1   0.006000  28279.0     0.000        0  0.006000
2   0.100000  28280.0     0.000        0  0.100000
3   0.050000  28281.0     0.000        0  0.050000
4   0.323781  28282.0     0.000        0  0.323781
5   1.580312  28283.0     0.000        0  1.580312
6   0.353892  28284.0     0.000        0  0.353892
7   1.053899  28285.0     0.000        0  1.053899
8   0.950994  28286.0     0.000        0  0.950994
9   0.157200  28287.0     0.000        0  0.157200
10  0.897227  28288.0     0.000        0  0.897227
11  3.415934  28289.0     0.000        0  3.415934
12  1.595676  28290.0     0.000        0  1.595676
13  0.263632  28291.0     0.000        0  0.263632
14  4.135413  28292.0     0.000        0  4.135413
15  0.867221  28293.0     0.000        0  0.867221
16  2.935248  28294.0     0.000        0  2.935248
17  1.066304  28295.0     0.000        0  1.066304
18  5.424052  28296.0     0.000        0  5.424052
19  0.110386  28297.0     0.000        0  0.110386
20  2.192474  28298.0     0.000        0  2.192474
21  0.000000  28298.4     3.352    maker  3.352000
22  5.516191  28299.0     0.000        0  5.516191
23  0.802599  28300.0     0.020    maker  0.822599
24  0.203518  28301.0     0.000        0  0.203518
25  2.916168  28302.0     0.000        0  2.916168
26  0.000000  28305.4     0.074    maker  0.074000
27  0.000000  28305.5     0.123    maker  0.123000
28  0.000000  28307.3     0.204    maker  0.204000
29  0.000000  28308.2     0.005    maker  0.005000
30  0.000000  28310.0     0.004    maker  0.004000
31  0.000000  28311.8     0.745    maker  0.745000
32  0.000000  28314.9     0.250    maker  0.250000
33  0.000000  28315.2     5.000    maker  5.000000
34  0.000000  28315.8     0.992    maker  0.992000
35  0.000000  28316.0     0.994    maker  0.994000
36  0.000000  28316.4     0.377    maker  0.377000
37  0.000000  28316.8     0.093    maker  0.093000
38  0.000000  28317.0     1.729    maker  1.729000
39  0.000000  28317.9     1.490    maker  1.490000
40  0.000000  28320.0     0.560    maker  0.560000
41  0.000000  28320.9     0.300    maker  0.300000
42  0.000000  28321.8     1.500    maker  1.500000
43  0.000000  28322.1     0.010    maker  0.010000
44  0.000000  28322.3     0.989    maker  0.989000
45  0.000000  28322.7     1.089    maker  1.089000
46  0.000000  28325.2     0.063    maker  0.063000

In [91]:
df_bit.shape[0],levels.shape[0], test_ask.shape[0]

(25, 30, 54)

___

In [60]:
new_df = df_bit.append(levels).reset_index(drop=True)

In [169]:
# create new orderbook
new_df = pd.concat([new_df[['bid_size', 'bid']].sort_values('bid', ascending=False).reset_index(drop=True), 
                   new_df[['ask', 'ask_size']].sort_values('ask', ascending=True).reset_index(drop=True)],
                   axis=1)

# Next steps

1. Insertar liquidez en OB:

    * Proceso de matching engine con ask subsecuente (órdenes límite que crucen el spread hasta que sean agotadas) (taker fee)
    * Calcular comisiones cada vez que se empaten órdenes
    * Calcular efectos de nuestras órdenes y crear un nuevo Orderbook
    
 
2. Comparar OB creado vs OB en siguiente timestamp  

    * Obtener diferencias en niveles para validar si se llenaron nuestras órdenes con el siguiente OB (maker fee)


3. Incorporar proceso de hedge en origin exchange

    * Cada vez que se ejecute una orden en destination, se hae una operación contraria a spot en el origin
    
    
4. Reflejar efectos de hedge en el origin exchange

    * Preguntar al profe